extends layout

block content

  // ================ Start banner Area =================
  section.banner-area.relative
    .container
      .row.height.align-items-center.justify-content-center
        .banner-content.col-lg-6
          h1 Event Database
          hr
          .breadcrmb
            p
              a(href='index.html') Databases
              span.lnr.lnr-arrow-right
              a(href='about.html') From  ../models
              a(href="/contactDatabase")
                li Contact
              a(href="/eventDatabase")
                li Event
              a(href="/userDatabase")
                li User

  // ============ content =====================
  section.gallery-area.section-gap.mt-172
    .container
      .row.align-items-center
        .col-lg-6.col-md-5.col-sm-6
          .single-gallery.mt--350
              form#myFormEvent.booking-form(action=`/event/update/${event.id}` method='POST')
                  .row
                      .col-lg-12.d-flex.flex-column.mb-20
                          input.form-control(name='fistName', value=`${event.fistName}` placeholder='First Name',  onfocus="this.placeholder = ''", onblur="this.placeholder = 'First Name'", required='', type='text')
                      .col-lg-12.d-flex.flex-column.mb-20
                          input.form-control(name='lastName', value=`${event.lastName}` placeholder='Last Name',  onfocus="this.placeholder = ''", onblur="this.placeholder = 'Last Name'", required='', type='text')
                      .input-group.col-lg-6.mb-20
                          input#event_date.form-control.datepicker(name='appointmentdate', value=`${event.appointmentdate}`, placeholder='Event Date', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Event Date'", required='', type='text')
                          span.input-group-append
                              button.btn.btn-outline-secondary.border-left-0.border-0(type='button')
                                  i.fa.fa-calendar.reservation-calendar
                      .col-lg-6.d-flex.flex-column.mb-20
                          input.form-control.appointment_time(name='appointmenttime',value=`${event.appointmenttime}`, type='text', placeholder='Time')
                      .col-lg-12.d-flex.flex-column.mb-20
                          input.form-control(name='phone', placeholder='Phone Number',value=`${event.phone}`, onfocus="this.placeholder = ''", onblur="this.placeholder = 'Phone Number'", required='', type='text')
                      .col-lg-12.d-flex.flex-column
                          textarea.form-control(name='message',value=`${event.message}`, placeholder=`${event.message}`, onfocus="this.placeholder = ''", onblur="this.placeholder = 'message'" type='text')
                      .col-lg-12.d-flex.justify-content-end
                          br
                          button.btn.btn-md.btn-success(type='submit')
                              i.fas.fa-pencil-square-o.fa-sm
                              | Update

                      .alert-msg


